.lg-mg-top {
  margin-top: 32px;
}

.xllg-mg-top {
  margin-top: 64px;
}

.sm-mg-top {
  margin-top: 12px;
}

.md-mg-top {
  margin-top: 20px;
}

.danger-text {
  color: red !important;
}

.no-margin {
  margin: 0px !important;
}

.W-100 {
  width: 100%;
}

.justify-center {
  justify-content: center !important;
  text-align: center !important;
}
